.block-hooklist .content ul {
  padding-left: 0; /* LTR */
}

.block-hooklist .content ul li {
  margin-bottom: 10px;
  list-style-type: none;
}

.block-hooklist h2 {
    border-bottom: 1px solid #d6d6d6;
}

.block-hooklist .hooklist-block-item h2 {
    float: left;
    border: none;
}

.block-hooklist .category {
    float: right;
    margin: 25px 5px 2px 0;
}

.block-hooklist .category-name {
    font-style: italic;
    font-weight: bold;
}

.block-hooklist .description {
    margin-top: 10px;
    padding: 10px;
    background-color: #E1F5FE;
}

.block-hooklist .tips {
    display: none;
    margin-top: 10px;
    background-color: #FFFDE7;
}

.block-hooklist .tips label {
    padding: 10px;
}

.block-hooklist .tips ul {
    margin: 0;
    padding: 15px;
    background-color: rgba(40, 40, 0, 0.06);
}

.block-hooklist .tips ul li {
    list-style-type: square;
    margin-left: 10px;
}

.block-hooklist .tips ul li.last {
    margin-bottom: 0;
}

.block-hooklist .toggle {
    float: right;
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #6A1B9A;
    cursor: pointer;
}

.block-hooklist .sample-code {
    display: none;
    margin-top: 10px;
    background-color: #EDE7F6;
}

.block-hooklist .sample-code label {
    padding: 10px;
}

.block-hooklist .sample-code pre {
    margin: 0;
}

.block-hooklist .tag {
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
    background-color: #D0D0D0;
    color: white;
    font: bold 13px Helvetica, arial;
}

.block-hooklist .tag.filter {
    cursor: pointer;
}

.block-hooklist .tag-required.selected {
    background-color: #D50000;
}

.block-hooklist .tag-optional.selected {
    background-color: #64DD17;
}

.block-hooklist .tag-info.selected {
    background-color: #2962FF;
}

.block-hooklist .tag-debug.selected {
    background-color: #FFAB00;
}

.clear {
    clear: both;
}
